@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;800&family=Work+Sans:wght@400;500;600;700;800&display=swap');
*{
     font-family: 'Mulish', sans-serif;
}

/* ------ Nav Style Start ------ */
nav {
     max-width: 1170px;
     margin: auto;
}

.nav-title {
     display: flex;
     justify-content: space-between;
}

.nav-title h3 {
     font-size: 36px;
     font-weight: 800;
     margin: 22px 0 21px 10px;
}

.nav-img {
     display: flex;
}

.nav-img img {
     width: 48px;
     height: 56px;
     margin-top: 20px;
}

nav ul {
     display: flex;
     list-style-type: none;
     gap: 30px;
     margin-top: 35px;
     font-weight: 600;
}

nav ul li {
     color: #7a7a7e;
}

.bags {
     color: #FF5400;
}

.home {
     color: #FF5400;
}
/* ------ Nav Style End ------- */


/* ------ Main Style Start ------ */
main{
     max-width: 1170px;
     margin: 70px auto;
}
/* ------ Banner Style Start ------ */
#banner{
     background-image: linear-gradient(rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.11)),  url(Images/Group\ 13.png);
     height: 490px;
     border-radius: 16px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
.banner-text {
     text-align: center;
     line-height: 1.5rem;
}
.banner-text h1{
     color: #FFF;
     font-weight: 800;
     font-size: 4rem;
     padding-top: 125px;
}
.banner-text p{
     color: #FFF;
     font-size: 1rem;
     width: 700px;
     text-align: center;
     margin: 30px auto;
}
.find-now-container{
     width: 800px;
     margin: auto;     
}
.find-now{
     display: flex;
     justify-content: space-evenly;
     gap: 24px;
     background: rgb(255 255 255 / 45%);
     border-radius: 8px;
     border: 16px solid rgba(255, 255, 255, 0);
}
.find{
     width: 24%;
     border: none;
     border-radius: 8px;
     padding-left: 15px;
}
.find-btn{
     display: flex;
     gap: 5px;
     color: #fff;
     font-weight: 700;
     background: #FF5400;
     cursor: pointer;
}
.search-icon img{
     margin-left: 25px;
     margin-top: 10px;
}
/* ----- Banner Style End ----- */


/* ----Popular Tours Style---- */
.popular-tours{
     display: flex;
     margin: 70px auto;
     gap: 8%;
}
.popular-tours-content {
     color: #5c5c5f;
}
.popular-tours-content h3{
     color: #131318;
     font-size: 40px;
     font-weight: 800;
     line-height: 15px;
     margin: 30px 0 30px 0 ;
}
.popular-tours-content button{
     background-color: #FF5400;
     color: #FFF;
     border: none;
     font-size: 20px;
     width: 174px;
     height: 52px;
     border-radius: 8px;
     cursor: pointer;
}
.popular-tours-img{
     margin: auto;
}
/* ----- Popular Tours End ----- */


/* ---- Destination Section Style ---- */
.destination-texts h2{
     text-align: center;
     font-size: 40px;
     font-weight: 800;
}
.destination-texts p{
     color: rgba(19, 19, 24, 0.70);
     text-align: center;
     margin-bottom: 30px;
}
.destinations-img{
     display: grid;
     grid-template-columns: repeat(12, 1fr) ;
     grid-template-rows: repeat(3, 1fr);
     gap: 24px;
     text-align: center;
}
.grid-item-1,.grid-item-2,.grid-item-3,.grid-item-4,.grid-item-5,.grid-item-6,.grid-item-7{
     background-size: cover !important ;
     border-radius: 18px;
     background-position: center !important;
}
.destinations-img .grid-item-1{
     background-image: url(Images/Rectangle\ 5.png);
     grid-column: 1/span 6;
     background-size: contain;
     background-repeat: no-repeat;
}
.destinations-img .grid-item-2{
     background-image: url(Images/Indonesia.png);
     grid-column: 7/span 6;
     background-repeat: no-repeat;
     background-size: contain;
}
.destinations-img .grid-item-3{
     background-image: url(Images/Rectangle\ 6.png);
     grid-row: 2/span 1;
     grid-column:1/span 4;
     background-repeat: no-repeat;
     background-size: contain;
}
.destinations-img .grid-item-4{
     grid-row: 2/span 1;
     grid-column: 5/span 5;
     background-image:url(Images/Rectangle\ 7.png);
     background-repeat: no-repeat;
     background-size: contain;
}
.destinations-img .grid-item-5{
     grid-row: 2/span 1;
     grid-column: 10/span 3;
     background-image:url(Images/Rectangle\ 9.png);
     background-repeat: no-repeat;
     background-size: contain;
}
.destinations-img .grid-item-6{
     grid-row: 3/span 1;
     grid-column: 1/span 5;
     background-image:url(Images/Rectangle\ 11.png);
     background-repeat: no-repeat;
     background-size: contain;
}
.destinations-img .grid-item-7{
     grid-row: 3/span 1;
     grid-column: 6/span 7;
     background-image:url(Images/Rectangle\ 10.png);
     background-repeat: no-repeat;
     background-size: contain;
}
.destinations-img p{
     margin: 135px auto;
     font-size: 28px;
     color: #FFF;
     font-weight: 800;
}
/* --------- Destinations End --------- */


/* --------- Why Choose Us Start --------- */
.why-us {
     margin-top: 70px;
}
.why-us-title h3 {
     text-align: center;
     font-size: 40px;
     font-weight: 800;
     margin-bottom: 20px;
}
.why-us-title p{
     text-align: center;
     color: #7a7a7e;
}
.why-us-details {
     display: grid;
     grid-template-columns: repeat(12, 1fr) ;
     grid-template-rows: repeat(2, 1fr);
     gap: 24px;
     margin: 60px auto 100px auto;
}
.why-us-details h3{
     font-size: 1.5rem;
     font-weight: 800;
}
.choose-item-1{
     grid-column: 1/span 6;
     padding: 32px;
     border: 1px solid rgba(251, 181, 99, 0.20);
     background: rgba(251, 181, 99, 0.05);
     border-radius: 16px;
}
.choose-item-2{
     grid-column: 7/span 6;
     padding: 32px;
     border: 1px solid rgba(41, 206, 246, 0.20);
     background: rgba(41, 206, 246, 0.05);
     border-radius: 16px;
}
.choose-item-3{
     grid-row: 2/span 1;
     grid-column: 4/span 6;
     padding: 32px;
     border: 1px solid rgba(233, 68, 68, 0.20);
     background: rgba(233, 68, 68, 0.05);
     border-radius: 16px;
}
/* --------- Why Choose Us End --------- */

/* --------- Subscription Start --------- */
#subscription {
     display: flex;
     gap: 24px;
}
.subscribe{
     border: 1px solid #FF5400;
     padding: 40px;
     border-radius: 16px;
}
.subscribe h3{
     font-size: 1.5rem;
     font-weight: 800;
     margin-top: 0px;
     margin-bottom: 16px;
}
.subscribe p{
     padding-bottom: 25px;
     color: #5A5A5D;
     border-bottom: 1px solid rgba(19, 19, 24, 0.10);


}
.sub-input input{
     display: block;
     margin: 15px auto;
     padding: 16px;
     width: 90%;
     border: none;
     border-radius: 8px;
     background-color: #d7d7da7d;
}
.sub-btn{
     background-color: #FF5400;
     color: #FFF;
     width: 100%;
     border: none;
     padding: 14px;
     font-size: 1.25rem;
     font-weight: 800;
     border-radius: 8px;
}
.discount {
     background-image: url(Images/Rectangle08.png);
     background-position: 100%;
     width: 672px;
     border-radius: 16px;
}
.discount .discount-text{
     color: #FFF;
     width: 320px;
     background-color: #FF5400;
     border-radius: 16px;
     position: relative;
     left: 340px;
     top: 202px;
     height: 120px;
     transform: rotate(-19.628deg);
}

.discount .discount-text p{
     margin-bottom: 0;
     text-align: center;
     padding-top: 25px;
     padding-bottom: 0px;
}

.discount .discount-text h3{
     text-align: center;
     font-size: 2rem;
     margin: 3px 0;
}
/* --------- Discount Start --------- */


/* -----   Optional Section style   ----- */
.optional {
     display: flex;
     gap: 2%;
     margin-bottom: 100px;
}
.optional-content{
     width: 49%;
}
.optional-img{
     width: 49%;
     background-image: url(Images/Group\ 40089.png);
     background-repeat: no-repeat;
     background-size: contain;
     border-radius: 16px;
     text-align: center;
     margin: 56px auto;
}
.optional-img p{
     font-size: 1.5rem;
     font-weight: 700;
     color: #FFF;
     padding-top: 135px;
}
.optional-content button{
     background-color: #FF5400;
     color: #FFF;
     border: none;
     font-size: 20px;
     width: 174px;
     height: 52px;
     border-radius: 8px;
     cursor: pointer;
}
.optional-content h3{
     font-size: 2.5rem;
     font-weight: 800;
}
.optional-content p{
     color: #5A5A5D;
}
.optional-content ul li{
     margin-bottom: 20px;
     font-weight: 700;
     line-height: 26px;
}
/* --------- Optional End --------- */


/* ------ Footer ------ */
footer{
     max-width: 1440px;
     margin: auto;
     padding: 110px;
     background: rgba(19, 19, 24, 0.05);
}
.footer-title{
     
     display: flex;justify-content: center;
}
.footer-title h3 {
     margin: 0px;
     font-size: 2rem;
     font-weight: 800;
}
.footer-p{
     text-align: center;
     margin-bottom: 32px;
     color: #5A5A5D;
}
.footer-logo{
     display: flex;
     gap: 15px;
     justify-content: center;
     padding-bottom: 60px;
     border-bottom: 1px solid #1313181a ;
}
.footer-logo img{
     width: 25px;
}
.copyrights{
     color: #5A5A5D;
     text-align: center;
     padding-top:  50px;
}

/* ----- Responsive Style ----- */
@media screen and (max-width:576px) {

.nav-title {
     flex-direction: column;
}

     .nav-img {
     margin: auto;
}

.nav-list {
     margin-top: 10px;
     padding: 0;
     justify-content: space-evenly;
}
#banner{
     height: 454px;
}
.banner-text h1{
     font-size: 2rem;
     padding-top: 35px;
}
.banner-text p{
     width: 500px;
}
.find-now-container{
     width:80%;
     margin: auto;
     justify-content: center;     
}
.find-now{
     flex-direction: column;
     gap: 4px;
}
.find-now-container input{
     width: 392px;
     padding: 10px;
}
.find-now-container select{
     width: 99%;
     padding: 10px;
}
.find-btn{
     width: 413px;
     text-align: center;
}
.search-icon img {
     margin-left: 145px;
     margin-top: 10px;
}
.popular-tours{
     flex-direction: column;
}
.popular-tours-img {
     margin-top: 50px;
}
.destinations-img{
     grid-template-rows: repeat(7, 1fr);
}
.destinations-img .grid-item-1{
     grid-column: 1/span 12;
}
.destinations-img .grid-item-2{
     grid-row: 2/span 1;
     grid-column: 1/span 12;
}
.destinations-img .grid-item-3{
     grid-row: 3/span 1;
     grid-column: 1/span 12;
}
.destinations-img .grid-item-4{
     grid-row: 4/span 1;
     grid-column: 1/span 12;
}
.destinations-img .grid-item-5{
     grid-row: 5/span 1;
     grid-column: 1/span 12;
}
.destinations-img .grid-item-6{
     grid-row: 6/span 1;
     grid-column: 1/span 12;
}
.destinations-img .grid-item-7{
     grid-row: 7/span 1;
     grid-column: 1/span 12;
}
.why-us-details{
     grid-template-rows: repeat(3, 1fr) ;
}
.why-us-details .choose-item-1{
     grid-column: 1/span 12;
}
.why-us-details .choose-item-2{
     grid-column: 1/span 12;
     grid-row: 2/span 1;
}
.why-us-details .choose-item-3{
     grid-column: 1/span 12;
     grid-row: 3/span 1;
}

.optional{
     flex-direction: column;
     margin-bottom: 0;
}
.optional-content{
     width: 100%;
}
.optional-img{
     width: 100%;
     height: 400px;
}
#subscription{
     flex-direction: column;
}
.discount{
     width: 565px;
     height: 422px;
}
.discount .discount-text{
     top: 233px;
     left: 235px;
}
}